.main{
background-color: rgb(105, 18, 18);
height: 70px;
width: 299px;
text-align: center;
margin: 0 auto;
}
.main p {
font-size: 35px;
color: white    ;
padding: 15px;
text-align: center;
}
body{
    background-color: rgb(5, 126, 59);
}
.main_2{
    border: 9px solid red;
    height: 297px;
    width: 888px;
    margin: 0 auto;
    
}
.e{
    background-color: aqua;
    border: 15px solid black;

}
.r{
    
        background-color: aqua;
        border: 15px solid black;
    
    
}
